<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styleLog.css' />
  </head>
  <body>
    <h3>注册</h3>
    <form class="formBox" role="form" method="post" onsubmit="return false">
        <div class="row">
        <label class="useN" for="username">用户名</label>
        <input type="text" class="useName" id="username" name="username" placeholder="用户名" required>
        </div>
        <div class="row">
        <label class="keyW" for="password2">密码</label>
        <input type="password" class="keyWord" id="keyWord" name="keyWord" placeholder="密码" required>
        </div>
     <!--    <div class="row">
        <label class="keyW2" for="password2">确认密码</label>
        <input type="password" class="keyWord2" id="keyWord2" name="keyWord2" placeholder="确认密码" required>
        </div> -->
        <div class="row">
             <button type="submit" class="regBotn" id="regBotn">注册</button>
        </div>
    </form>
    <div class="msg"></div>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/reg.js"></script>
  </body>
</html>